title: Hello, world! I'm Joonkyu Park
description: > # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
permalink: ':title/'
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
site-twitter: #if your site has a twitter account, enter it here

# Author Settings
author: Joonkyu Park # add your name
author-img: portfolio.jpg # add your photo
about-author: I am interested in deep learning and computer vision, exploring human 3D reconstruction and image restoration, combining high-level and low-level tasks in my recent research. # add description
social-facebook: jkpark0825 # add your Facebook handle
social-github: jkpark0825 # add your Github handle
social-email: jkpark0825@snu.ac.kr # add your Email address

# Disqus
# discus-identifier: jkpark0825 # add your discus identifier

# Tracker
analytics: # Google Analytics

# Build Settings
markdown: kramdown
plugins:
  - jekyll-sitemap
  - jekyll-paginate
  - jemoji

paginate: 10
paginate_path: "/page/:num"

exclude: ["node_modules", "gulpfile.js", "package.json", "yarn.lock"]
